.delete-page{
    width:  100%;
    height: 100vh;
    background-color: #30324a;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: flex-start;
   
  
}
.main{
    height: 98%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-end    ;
    background-color: #f5f5f5;
    border-radius: 24px 0 0 0;
}
.display{
    margin-top: 32px;
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}
.display::-webkit-scrollbar{
    display: none;
}
.button-container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}