.tabel-user{
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.tabel-user>button{
    width:30%;
    padding: 16px 12px;
    height: 100%;
    border: none;
    background-color: transparent;
    color: var(--Dark-blue, #30324A);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
.tabel-user>button:focus{
    border-bottom: 2px solid var(--Primary-pink, #CA53BA);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(202, 83, 186, 0.10) 100%);

}